[data-s9e-mediaembed-c2l="bitchute"]
{
	background: linear-gradient(transparent 79%, rgba(0, 0, 0, .75));
}
[data-s9e-mediaembed-c2l="bitchute"][data-s9e-mediaembed-c2l-title]::before
{
	background:     rgba(0, 0, 0, .2);
	border-radius: .1em;
	left:          1em;
	padding:       .1em .3em;
	top:           1em;
}
[data-s9e-mediaembed-c2l="bitchute"]::after
{
	background: #ef4136 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3E%3Cpath d='m2 1 3 2-3 2z' stroke-linejoin='round' stroke-width='.5' stroke='%23fff' fill='%23fff'/%3E%3C/svg%3E") no-repeat center / 24px;
	border-radius: 100%;
	height:        48px;
	left:          calc(50% - 24px);
	top:           calc(50% - 24px);
	width:         48px;
}