[data-s9e-mediaembed]
{
	display:        inline-block;
	max-width:      100%;
	vertical-align: top;
	width:          640px;
}
iframe[data-s9e-mediaembed],
span[data-s9e-mediaembed] > span > iframe
{
	border: 0;
}
span[data-s9e-mediaembed] > span
{
	display:        block;
	padding-bottom: 56.25%;
	position:       relative;
}
span[data-s9e-mediaembed] > span > iframe,
span[data-s9e-mediaembed] > span > span,
[data-s9e-mediaembed-iframe],
[data-s9e-mediaembed-c2l]::after
{
	height:   100%;
	left:     0;
	position: absolute;
	width:    100%;
}
[data-s9e-mediaembed-c2l]
{
	cursor: pointer;
}
[data-s9e-mediaembed-c2l]::after
{
	content: "";
}
[data-s9e-mediaembed-c2l-title]::before
{
	color:       #fff;
	content:     attr(data-s9e-mediaembed-c2l-title);
	font-family: sans-serif;
	position:    absolute;
}