[data-s9e-mediaembed-c2l="vimeo"][data-s9e-mediaembed-c2l-title]::before
{
	background:    rgba(30, 30, 30, .9);
	color:         #00adef;
	content:       attr(data-s9e-mediaembed-c2l-title);
	font-family:   Arial, sans-serif;
	font-size:     20px;
	font-weight:   700;
	/* TODO: small screens */
	left:          70px;
	padding:       .1em .2em;
	position:      absolute;
	text-align:    left;
	top:           10px;
}
[data-s9e-mediaembed-c2l="vimeo"]::after
{
	background:    rgba(30, 30, 30, .9) url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath fill='%23fff' d='m0 0 2 1L0 2z'/%3E%3C/svg%3E") no-repeat center / 20px;
	border-radius: 5px;
	bottom:        10px;
	height:        40px;
	left:          10px;
	position:      absolute;
	width:         65px;
}
[data-s9e-mediaembed-c2l="vimeo"]:hover::after
{
	background-color: #00adef;
}